@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Wittgenstein;
}

body {
    height: 100vh;
    background-color: #b5e2fa;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.weather-container{
    width: 20vw;
    height: 500px;
    min-width: 350px;
    background-image: linear-gradient(120deg, #8ecae6, #219ebc);
    border-radius: 15px;
    border: none;
    padding: 22px 26px;
    display: flex;
    flex-direction: column;
}

.weather-container .top-contents {
    width: 100%;
    height: 40px;
    display: flex;
    margin-bottom: 20px;
}

.top-contents .search-input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin-right: 5px;
}

.search-input:focus {
    outline: 2px solid #001d3d;
}

.search-input::placeholder {
    color: #000;
    font-weight: 500;
}

.top-contents .search-icon-div{
    width: 50px;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 5px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-icon-div .search-icon {
    height: 20px;
    width: 18px;
}

.weather-container .mid-contents {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.mid-contents .weather-image-div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-image-div .weather-image {
    width: 200px;
    height: 150px;
    object-fit: contain;
}

.mid-contents .temperature{
    font-size: 45px;
    color: #001d3d;
}

.mid-contents .location {
    font-size: 20px;
    color: #001d3d;
}

.bottom-contents {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bottom-contents .humidity, .bottom-contents .wind-speed {
    height: 100%;
    width: 120px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 2px;
}

.bottom-image {
    height: 40px;
    margin-right: 5px;
}

.humidity .information, .wind-speed .information {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.information .top-value-info {
    font-weight: 400;
    text-wrap:nowrap;
    font-size: 15px;
}